/* Universial CSS */
html{
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    color: white;
    padding: 10px 0;  
    overflow:hidden;
    margin-left: 20px;
    font-weight: bold;
}
header h1{
    color:white;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
}

.navSection{
    float: left;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    max-width: 91%;
    width:100%;
    overflow:hidden;
}
nav {
    color: white;
    text-align: center;
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 5px;
}
nav a:hover {
    text-decoration: underline;
}

.logo {
    width: 120px;
    float: left;
    margin: 0px 10px;
    position: absolute;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    margin: 10px 20px;
    position: -webkit-sticky;
    bottom: 0;
    width: 98%;
    height: 2.5rem;
}
footer p{
    padding: 10px;
    text-align: center;
}

body {
    background-image: url("../Images/WPbackground.jpg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.clear {
    clear: both;
}

.container{
    display: flex;
    height: auto;
}

.leftNav {
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    min-height: 200px;
    margin: 20px;
}

.content{
    flex: 1;
    padding: 20px;
    background-color: #bbbbbb;
    border-radius: 10px;
    height: auto;
    margin: 20px;
}
.content img{
    width: 80%;
}
